#feedback {
	margin-bottom: 1rem;
	font-style:italic;
}

#locality-wrapper {
	display: none;
}

#neighbourhood-wrapper {
	display: none;
}

#map {
	width: 100%;
	height: 100vh;
}

#results {
	max-height: 90vh;
	overflow:scroll;
}

.grid-view {
	display: grid;
	grid-template-columns:1fr 1fr;
	gap: 50px 10px;
}

.panel {
	padding: .5rem;
	border-left: solid thin;
}
